.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}


h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #347DBE;
}

.nav > li > a:hover {
    background-color: #248ec2;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #347DBE;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #347DBE;
    border-color: #015CAE;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #015CAE;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #347DBE;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #347DBE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #015CAE;
}

.navbar-inverse .navbar-toggle {
    border-color: #015CAE;
}



table {
    border: 1px solid #E1E1E1;
    margin: 0 0 20px 0;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: .9em;
    text-align: left;
}

th {
    background: #f7f7f7;
}




.sidebar h6 {
    line-height: 1em;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #888;
    font-weight: bold;
}

.sidebar {
    padding: 20px 20px 0 20px;
    white-space:nowrap;
    overflow-y: auto;

    section {
            padding: 10px 0;
    }

    ul {
        padding: 0 0 0 10px;
        margin: 0;
        list-style: none;
    }

    h6 {
        padding: 0;
        margin: 0 0 5px 0;
    }

    a {
        color: #777;
        text-decoration: none;
        font-size: .90em;
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 2px 0;

        &.active {
            color: #2196F3;
            text-decoration: none;
        }
    }
}

.endpoint {
    font-size: 10px;
    padding: 0 2px;
    position: relative;
}

h3 .endpoint {
    padding: 4px 6px;
    font-size: 19px;
}

.endpoint.put {
    color: #7E57C2;
    &:after {
        content: "PUT";
    }
}

.endpoint.delete {
    color: #FF7043;
    &:after {
        content: "DELETE";
    }
}

.endpoint.get {
    color: #66BB6A;
    &:after {
        content: "GET";
    }
}

.endpoint.post {
    color: #42A5F5;
    &:after {
        content: "POST";
    }
}

.main {
    margin: 0 0 0 210px;
    border-left: 1px solid #eee;
    h6 {
        font-size: 1.01em;
        padding: 0 0 6px 0;
        margin: 0;
    }

    .description {
        color: #aaa;
        margin-top: -11px;
    }

    @media (max-width: $mobile-break) {
        margin: 0;
    }
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.error, .warning, .info, .success   {
    border-left: 5px solid #FD0;
    padding: 10px 15px;
    margin-left: -20px;
    margin-right: -15px;
    background-color: #FAFAFA;
    border-radius: 2px;
}

.info {
    border-color: #56ADEC;
}

.error {
    border-color: #F20;
}

.success {
    border-color: #6c0;
}

.doc-content {
    border: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #eee 0%,#eee 60%,#333333 60%);
    -moz-border-image: -moz-linear-gradient(left,   #eee 0%, #eee 60%, #333333 60%);
    -webkit-border-image: -webkit-linear-gradient(left, #eee 0%,#eee 60%,#333333 60%);
    border-image-slice: 1;
    padding: 30px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 60%, #232323 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(60%,#ffffff), color-stop(60%,#232323)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,   #ffffff 0%,#ffffff 60%,#232323 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,    #ffffff 0%,#ffffff 60%,#232323 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,   #ffffff 0%,#ffffff 60%,#232323 60%); /* IE10+ */
    background: linear-gradient(to right,   #ffffff 0%,#ffffff 60%,#232323 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#232323',GradientType=1 ); /* IE6-9 */
}

.doc-content:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.doc-content:last-child {
    border: 0;
}

.left-docs {
    width: 60%;
    float: left;
    padding: 0 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;        /* Firefox, other Gecko */
    box-sizing: border-box;              /* Opera/IE 8+ */

    pre {
         border: 0px;
         box-shadow: 0 0 0 1px #eee;
         border-radius: 3px;
         padding: 10px;
    }
}

.right-code {
    width: 40%;
    float: left;
    padding: 0 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;        /* Firefox, other Gecko */
    box-sizing: border-box;              /* Opera/IE 8+ */

    code {
        color: #fff;
    }

    pre {
        background: black;
        padding: 10px;
        border-radius: 5px;
    }

    .code-viewer .languages li a:hover {
        border-color: #555;
    }
}

.code-viewer {
    .languages {
        padding: 0;
        margin: 0 0 5px 0;
        list-style: none;
        font-size: .9em;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 5px 10px;
                z-index: 100;
                border: 1px solid transparent;

                &:hover {
                    border-color: #eee;
                    border-radius: 5px;
                }

                &.active:hover {
                    border-color: transparent;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #aaa;

        &:hover {
            color: #222;
        }


    }

    pre {
        margin: 0 0 20px 0;
    }
}

.code-viewer a.active, .code-viewer a.active:hover, .right-code .code-viewer a.active:hover {
    color: #1EAEDB;
}


.right-code .code-viewer a:hover {
    color: #fff;
}

@media (max-width: 1000px) {
    .right-code {
        float: none;
        width: 100%;
        background: #232323;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .left-docs {
        float: none;
        width: 100%;
    }

    .doc-content {
        background: #fff;
        padding-bottom: 0;
        border-image: none;
        -moz-border-image: none;
        -webkit-border-image: none;
        border-color: #eee;
    }
}



